#
# Copyright 2018  Nenad Žikić <nenad.zikic@gmail.com>
#
# This file is part of hidmet-kde-plasmoid.
#
# hidmet-kde-plasmoid is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# hidmet-kde-plasmoid is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with hidmet-kde-plasmoid.  If not, see <http://www.gnu.org/licenses/>.
#
[Desktop Entry]
Encoding=UTF-8
Name=Hidmet
Comment=Hidmet aktuelni meteorološki podaci (www.hidmet.gov.rs)
Icon=weather-clouds
Type=Service

X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Nenad Žikić
X-KDE-PluginInfo-Email=nenad.zikic@gmail.com
X-KDE-PluginInfo-Name=org.kde.hidmet
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL-3.0
X-KDE-PluginInfo-Website=https://github.com/nzikic/hidmet-kde-plasmoid
X-KDE-PluginInfo-Category=Environment and Weather

X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-RemoteLocation=
